@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Teko:wght@300;400;600&display=swap');

:root{

    --witeColor : #ffffff;
    --redColor : #ff1212;
    --background : rgb(18, 17, 17);
}

body{
    background-color: black;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    color: var(--witeColor);
    text-decoration: none;
}

.nunito{
    font-family: "Nunito",sans-serif;
}


button{
    border-radius: 0;
    border: none;
}

img{
    width: 100%;
    
}

ol,li{
    list-style: none;
}
h1{
    font-size: 2rem;
    font-weight: 800;
}
h2{
    font-size: 1.6rem;
    font-weight: 600;
}

h3{
 font-size: 1.4rem;
 text-align: left;
}

p{
    color: #ffffff

}

.nav{
    z-index: 100;
    color: white;
    position: relative;
    text-align: center;
    padding: 5px;
    margin-bottom: 1rem;
    background-color:  var(--background)
}

.keys{
    color: var(--redColor)
}



@keyframes lean {
    0%{
        position: relative;
    }
    10%{
       transform: rotate(30deg);
    }
    30%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(30deg);
    }
    70%{
        transform: translateY(10px);
    }
    80%{
        transform: rotate(30deg) translateY(10px);
    }
    90%{
        transform: rotate(-30deg)
    }
    100%{
        transform: translate(0px)
    }



}
.drift{
    position: relative;
    display: inline-block;
    animation: lean 4s linear 2 2s;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
}

.section{
    width: 85%;
    padding: 10px;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--witeColor);
    text-align: center;
    background-color:var(--background)
}

.me_main{
    display: flex;
    flex-direction: column;
    
}

.me_main > p{
    font-size: 1.2rem
}



.photo{
    background-color: red;
    height: 125px;
    width: 125px;
    border-radius: 58%;
    overflow: hidden;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.89);
    animation: photoMove 3s linear infinite
}

@keyframes photoMove {
    50%{
        transform: translateY(-5px);
    }
    
}

.greeting{
    margin-bottom: 1rem;
    max-width: 300px;
}


.title{
    position: relative;
}

.title::after{
    content: "WEB FULLSTACK";
    display: block;
    position: relative;
    white-space: nowrap;
    color: var(--redColor);
    top: -18px;
    width: 12.5ch;
    margin: auto;
    border-right: transparent;
    animation: typing 5s steps(13) 1, blink 0.5s step-end alternate 14;
    overflow: hidden;
    height: 2rem;
    
}

@keyframes typing {
  from {width: 0}
}
@keyframes blink {
    50%{
        border-right: 2px solid var(--redColor);
    }
     
}

.calendly{
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    height: 2rem;
    background-color: var(--redColor);
    margin-bottom: 0.7rem;
    color: var(--witeColor);
    display: flex;
    align-items: center;
    border-radius: 50px 0px 50px 0;
    transition: scale 0.1s;
}
.calendly:hover{
 scale: 1.1;
}

.point{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.point > h3{
   display: flex;
  
   align-items: center;
   gap: 5px;
    
}
.point > h3 > span{

   position: relative;
   top: 3px;

}

.point > h3 > span > i {
    color: var(--redColor);
}

.technologies_list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);

    

}

.technologies_list > li > span > i {
    color: var(--redColor);
   font-size: 4rem;
}

.technologies_list> li:last-child{
    grid-column: span 2;
}
.technologies_list> li:last-child > span >i{
    font-size: 3.2rem;
    user-select: none;
}

.ProjectGrid{

    display: grid;
    gap: 1rem;
    grid-template-columns: 250px;
    justify-content: center;
}


.card{
    width: 250px;
    margin: auto;
}

.card_title{
    margin-bottom: rem;
    border-bottom: 1px double var(--redColor);
}

.card_img {
    position: relative;
}

.card_img > span {
    position: absolute;
    opacity: 0;
    background-color: hsla(0, 4%, 9%, 0.722);
    width: 250px;
    height: 250px;
    right: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card_img:hover > span {
    opacity: 1;
}


.card_img > span > button{
    padding: 0px 20px;
    background-color: var(--redColor);
    border-radius: 25px 0px 25px 0px;
    transition: scale .3s linear;
    cursor: pointer;
    
}

.card_img > span > button:hover{
    scale: 1.2;
}

footer{
    position: relative;
    margin-top: 4rem;
    height: 42px;
    background-color: var(--redColor);
    z-index: 50;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer > ul > li{
    display: flex;
    text-align: center;
}


footer > ul > li > i:hover{
    scale: 1.1;
}

.footer_icon{
    color: black;
}





