@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Teko:wght@300;400;600&display=swap');

:root{

    --witeColor : #ffffff;
    --redColor : #ff1212;
    --background : rgb(18, 17, 17);
}

body{
    background-color: black;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    color: var(--witeColor);
    text-decoration: none;
}

.nunito{
    font-family: "Nunito",sans-serif;
}


button{
    border-radius: 0;
    border: none;
}

img{
    width: 100%;
    
}

ol,li{
    list-style: none;
}
h1{
    font-size: 2rem;
    font-weight: 800;
}
h2{
    font-size: 1.6rem;
    font-weight: 600;
}

h3{
 font-size: 1.4rem;
 text-align: left;
}

p{
    color: #ffffff

}

.nav{
    z-index: 100;
    color: white;
    position: relative;
    text-align: center;
    padding: 5px;
    margin-bottom: 1rem;
    background-color:  var(--background)
}

.keys{
    color: var(--redColor)
}



@keyframes lean {
    0%{
        position: relative;
    }
    10%{
       transform: rotate(30deg);
    }
    30%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(30deg);
    }
    70%{
        transform: translateY(10px);
    }
    80%{
        transform: rotate(30deg) translateY(10px);
    }
    90%{
        transform: rotate(-30deg)
    }
    100%{
        transform: translate(0px)
    }



}
.drift{
    position: relative;
    display: inline-block;
    animation: lean 4s linear 2 2s;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
}

.section{
    width: 85%;
    padding: 10px;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--witeColor);
    text-align: center;
    background-color:var(--background)
}



.section.first{
    background-color: transparent;
}

.section.first,
.section.me_main,
.section.tech{
    width: 100%;
}

.me_main{
    display: flex;
    flex-direction: column;
    
}

.me_main > p{
    font-size: 1.2rem
}




.mobile{
    background-color: red;
    height: 125px;
    width: 125px;
    border-radius: 58%;
    overflow: hidden;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.89);
    animation: photoMove 3s linear infinite
}

.desktop{
    display: none;
}

@keyframes photoMove {
    50%{
        transform: translateY(-5px);
    }
    
}

.greeting{
    margin-bottom: 1rem;
    max-width: 300px;
}


.title{
    position: relative;
}

.title::after{
    content: "WEB FULLSTACK";
    display: block;
    position: relative;
    white-space: nowrap;
    color: var(--redColor);
    top: -18px;
    width: 12.5ch;
    margin: auto;
    border-right: transparent;
    animation: typing 5s steps(13) 1, blink 0.5s step-end alternate 14;
    overflow: hidden;
    height: 2rem;
    
}

@keyframes typing {
  from {width: 0}
}
@keyframes blink {
    50%{
        border-right: 2px solid var(--redColor);
    }
     
}

.calendly{
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    height: 2rem;
    background-color: var(--redColor);
    margin-bottom: 0.7rem;
    color: var(--witeColor);
    display: flex;
    align-items: center;
    border-radius: 50px 0px 50px 0;
    transition: scale 0.1s;
}
.calendly:hover{
 scale: 1.1;
}

.point{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.point > h3{
   display: flex;
  
   align-items: center;
   gap: 5px;
    
}
.point > h3 > span{

   position: relative;
   top: 3px;

}
.laptop{
    display: none;
}
.point > h3 > span > i {
    color: var(--redColor);
}

.technologies_list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);


}

.technologies_list > li > span > i {
    color: var(--redColor);
   font-size: 4rem;
}

.technologies_list> li:last-child{
    grid-column: span 2;
}
.technologies_list> li:last-child > span >i{
    font-size: 3.2rem;
    user-select: none;
}

.ProjectGrid{

    display: grid;
    gap: 1rem;
    grid-template-columns: 250px;
    justify-content: center;
}


.card{
    width: 250px;
    margin: auto;
}

.card_title{
    margin-bottom: rem;
    border-bottom: 1px double var(--redColor);
}

.card_img {
    position: relative;
}

.card_img > span {
    position: absolute;
    opacity: 0;
    background-color: hsla(0, 4%, 9%, 0.722);
    width: 250px;
    height: 250px;
    right: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card_img:hover > span {
    opacity: 1;
}


.card_img > span > button{
    padding: 0px 20px;
    background-color: var(--redColor);
    border-radius: 25px 0px 25px 0px;
    transition: scale .3s linear;
    cursor: pointer;
    
}

.card_img > span > button:hover{
    scale: 1.2;
}

footer{
    position: relative;
    margin-top: 4rem;
    height: 44px;
    background-color: var(--redColor);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer > ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer > ul > li{
    display: flex;
    text-align: center;
}


footer > ul > li > i:hover{
    scale: 1.1;
}

.footer_icon{
    color: black;
    font-size: 1.8rem;
}


@media (min-width: 768px) {
    
p{
    font-size: 1.2rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}




.container_photo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.photo{
    border-radius: 50%;
    position: relative;
    
}

.photo::after{
    content: "}";
    display:  block;
    position: absolute;
    font-size: 10rem;
    z-index: 400;
    top: -20px;
    right: 40px;
    color: var(--redColor);
    animation: keys .3s linear 1;
}

.photo::before{
    content: "{";
    position: absolute;
    font-size: 10rem;
    z-index: 600;
    top: -20px;
    left: 40px;   
    color: var(--redColor); 
    animation: keys 0.5s linear 1 ;
}

@keyframes keys {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.section{
    max-width: 85%;
}



.mobile{
    display: none;
}

.desktop{
    z-index: 500;
    height: 300px;
    width: 300px;
    display: block;
    display: relative;
    border-radius: 50%;

}

.greeting{
    max-width: 500px;
}


.title{
    white-space: 5px;
    font-size: 3rem;

}

.title::after{
    height: 3rem;
    top: -30px
}

.calendly{
    font-size: 1.5rem;
    height: 2.5rem;
}

.technologies_list{
    grid-template-columns: repeat(3,1fr);

}

.technologies_list> li:last-child{
    grid-column: span 1;
}

.ProjectGrid{

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

}


@media (min-width: 978px ) {

    p{
        font-size: 1.3rem;
    }
    
    h3{
        font-size: 2.5rem;
    }
    
    h4{
        font-size: 1.5rem;
    }
    

.title{
font-size: 3.5rem;
margin-bottom: -4rem;
}    

.title::after{
    height: 6rem;
    top: -40px
}

.calendly{
    font-size: 2.5rem;
    height: 3.5rem;
}

.section{
 max-width: 1200px;
 width: 90%;
}


.desktop{
        height: 400px;
        width: 400px;
}

.section.home{
display: grid;
background-color: transparent;
grid-template-columns: 40% 60%;
grid-template-rows: 35% 65%;
gap: 1rem;


}

.section.first{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--background);
    
}

.section.tech{
    grid-row: 1/2;
}

.technologies_list{
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}

.greeting{
   
    width: 700px;
}

.technologies_list> li:last-child{
    grid-column: span 1;
}

.section.me_main{
    max-width: none;
}

.technologies_list{
    grid-template-columns: repeat(5,100px);

}


 .technologies_list> li:nth-child(6){
       grid-area: 2/1/2/span 2;
 }

 .technologies_list> li:nth-child(7){
    grid-area: 2/2/2/span 2
}

.technologies_list> li:nth-child(8){
    grid-area: 2/3/3/span 2
}

.technologies_list> li:nth-child(9){
    grid-area: 2/4/4/span 2
}

.point {
    max-width: none;
}

.point.aboutMe{
    display: flex;
    flex-direction: row;
}

.point-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.laptop{
    display: block;
    height: 400px;
    
}

.card{
    width: 400px;
    margin: auto;
}

.card_img > span{
    width: 400px;
    height: 400px;
}

.card_img > span > button{
    font-size: rem;
    
}

footer{
    height: 60px;
}

.footer_icon{
    font-size: 3rem;
    
}

.nav{
    height: 70px;
    margin-bottom: 2.5rem;
    
}

nav > h2 {
    font-size: 2rem;
}



}












