@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Teko:wght@300;400;600&display=swap');

:root{

    --witeColor : #ffffff;
    --redColor : #ff1212;
    --background : rgb(18, 17, 17);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
}

.nunito{
    font-family: "Nunito",sans-serif;
}


button{
    border-radius: 0;
    border: none;
}

img{
    width: 100%;
    
}

ol,li{
    list-style: none;
}
h1{
    font-size: 2rem;
    font-weight: 800;
}
h2{
    font-size: 1.6rem;
    font-weight: 600;
}

h3{
 font-size: 1.4rem;
 text-align: left;
}

p{
    color: #ffffff

}

.nav{
    z-index: 100;
    color: white;
    position: relative;
    text-align: center;
    padding: 5px;
    margin-bottom: 1rem;
    background-color:  var(--background)
}

.keys{
    color: var(--redColor)
}



@keyframes lean {
    0%{
        position: relative;
    }
    10%{
       transform: rotate(30deg);
    }
    30%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(30deg);
    }
    70%{
        transform: translateY(10px);
    }
    80%{
        transform: rotate(30deg) translateY(10px);
    }
    90%{
        transform: rotate(-30deg)
    }
    100%{
        transform: translate(0px)
    }



}
.drift{
    position: relative;
    display: inline-block;
    animation: lean 4s linear 2 2s;
}

.container{
    display: flex;
    justify-content: center;
}

.me{
    width: 85%;
    padding: 10px;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--witeColor);
    text-align: center;
    background-color:var(--background)
}

.me_main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.me_main > p{
    font-size: 1.2rem
}



.photo{
    background-color: red;
    height: 125px;
    width: 125px;
    border-radius: 58%;
    overflow: hidden;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.89);
    animation: photoMove 3s linear infinite
}

@keyframes photoMove {
    50%{
        transform: translateY(-5px);
    }
    
}

.greeting{
    margin-bottom: 1rem;
}


.title{
    position: relative;
}

.title::after{
    content: "web full stack";
    display: block;
    position: relative;
    white-space: nowrap;
    color: var(--redColor);
    top: -10px;
    width: 11ch;
    margin: auto;
    border-right: transparent;
    animation: typing 5s steps(12) 1, blink 0.5s step-end alternate 14;
    overflow: hidden;
    height: 2rem;
    
}

@keyframes typing {
  from {width: 0}
}
@keyframes blink {
    50%{
        border-right: 2px solid var(--redColor);
    }
     
}

.calendly{
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    height: 2rem;
    background-color: var(--redColor);
    margin-bottom: 0.7rem;
    color: var(--witeColor);
    display: flex;
    align-items: center;
    border-radius: 50px 0px 50px 0;
    transition: scale 0.1s;
}
.calendly:hover{
 scale: 1.1;
}

.technologies{
    display: flex;
    flex-direction: column;
}

.technologies > h3{
    position: relative;
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 95px;
}
.technologies > h3 > span{
    position:absolute;
    top: 0.3rem;
    right: -2.5rem;
}

.technologies_list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,80px);
    gap: 1rem;
}



.technologies_list > li > span {
    color: #ff6201;
}






